openapi: 3.1.0
info:
  title: Fenergo Nebula Journey Investigation API
  description: API for investigating Fenergo Nebula journeys, documents, and requirements using AI-powered insights
  version: 1.0.0
servers:
  - url: https://api.fenxstable.com/documentmanagementquery/api/documentmanagement/
    description: Fenergo Stable Environment

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  
  schemas:
    InsightsRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - message
            - scope
          properties:
            message:
              type: string
              description: The user's question or query about the journey
              example: "What documents are missing for this journey?"
            scope:
              type: object
              properties:
                documentContext:
                  type: object
                  nullable: true
                  properties:
                    contextLevel:
                      type: string
                      enum: [Journey]
                      description: Context level (always 'Journey')
                    contextId:
                      type: string
                      format: uuid
                      description: Journey ID (GUID)
                documentRequirementContext:
                  type: object
                  nullable: true
                  properties:
                    contextLevel:
                      type: string
                      enum: [Journey]
                      description: Context level (always 'Journey')
                    contextId:
                      type: string
                      format: uuid
                      description: Journey ID (GUID)
            conversationHistory:
              type: array
              items:
                type: object
              description: Previous conversation context (optional)
              default: []

    InsightsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            response:
              type: string
              description: AI-generated response to the query
            metadata:
              type: object
              properties:
                documentCount:
                  type: integer
                documentRequirementCount:
                  type: integer
            conversation:
              type: array
              items:
                type: object

security:
  - BearerAuth: []

paths:
  /insights:
    post:
      operationId: investigateJourney
      summary: Investigate a Fenergo journey for documents or requirements
      description: |
        Query the Fenergo Nebula system to get AI-powered insights about a specific journey.
        You can investigate either documents or requirements context.
        
        Important: Always extract the Journey ID (GUID format) from the user's question before calling this API.
      parameters:
        - name: X-Tenant-Id
          in: header
          required: true
          schema:
            type: string
            default: f488cdba-2122-448d-952c-7a2a47f78f1b
          description: Fenergo tenant identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsightsRequest'
            examples:
              documentsQuery:
                summary: Query about documents
                value:
                  data:
                    message: "What documents are attached to this journey?"
                    scope:
                      documentContext:
                        contextLevel: "Journey"
                        contextId: "b44f1862-cc32-4296-898d-c92a881c7fff"
                      documentRequirementContext: null
                    conversationHistory: []
              requirementsQuery:
                summary: Query about requirements
                value:
                  data:
                    message: "What are the outstanding requirements?"
                    scope:
                      documentContext: null
                      documentRequirementContext:
                        contextLevel: "Journey"
                        contextId: "b44f1862-cc32-4296-898d-c92a881c7fff"
                    conversationHistory: []
      responses:
        '200':
          description: Successful response with insights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResponse'
        '401':
          description: Unauthorized - Invalid or expired token
        '403':
          description: Forbidden - Insufficient permissions
        '400':
          description: Bad request - Invalid parameters
